    {% extends 'base/lte_base.html' %}

    {% block title %}About - My Website{% endblock %}
    {% block content-header %}My About page{% endblock %}
    
    {% block content %}
    <h1>Welcome to the About Page!</h1>
    <p>This is the main content for the About page.</p>
    {% endblock %}

<!--<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <H1>About</H1>
    <p>Check my <a href="/">Home</a> Page.</p>
</body>
</html>-->