<div class="modal in" id="ajaxModal" aria-hidden="false" style="display: block;">
	<div class="modal-dialog"> 
		<div class="modal-content">
			<div class="modal-header"> 
				<button type="button" class="close" data-dismiss="modal">×</button> 
				<h4 class="modal-title"><b>Data Privacy (Consent/Agreement)</b></h4> 
			</div> 
			<div class="modal-body">
				<p>
				I hereby authorize the <b>Department of Information and Communications Technology (DICT)</b> 
				and recognize their responsibilities under the <b>Republic Act No. 10173, also known as the Data Privacy Act of 2012</b>,
				 with respect to the data they collect, record, organize, update, use, consolidate or destruct from PNPKI applicants. 
				 The personal data obtained from this portal is entered and stored within the DICT authorized information and 
				 communications system and will only be accessed by the PNPKI RA Officers. 
				 The DICT have instituted appropriate organizational, technical and physical security measures to ensure the protection of the PNPKI applicants personal data.
				</p>
			</div> 
			<div class="modal-footer"> 
				<a href="#" class="btn btn-default" data-dismiss="modal">Close</a> 
				<!--a href="#" class="btn btn-primary">Save</a--> 
			</div> 
		</div>
		<!-- /.modal-content -->
	</div>
<!-- /.modal-dialog -->
</div>
