    {% extends 'base/lte_base.html' %}
    {% load static %}

    {% block title %}Home Page{% endblock %}
    {% block content-header %}Home Page{% endblock %}
    {% block breadcrumb %}Panel{% endblock %}
    
    {% block content %}
 
<iframe title="JASB - TEST DATA" width="100%" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiMjIwMWMxMWUtZGZlNi00NjA3LWJhMTctYjdjMjA3ZmVkZThmIiwidCI6IjlmMTRkNjc3LWZkYTgtNDhkNC1iZjkxLTgwYzQ5MmFkZjk3ZSIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>


    {% endblock %}