    {% load static %}
<section class="sheet padding-10mm" style="padding:25px;">
    <article style="border:0px solid #FFF; border-collapse:collapse; height:262mm; padding:0px;">
<table width="100%" style="border:0px solid #FFF; border-collapse:collapse;">
    <tr>
        <td style="vertical-align: top;">
            <table width="100%" style="border-top:1px solid #000; border-left:1px solid #000; border-right:1px solid #000; border-collapse:collapse;">
                <tr>
                    <td colspan="3" align="center" style="padding: 2px;">
                        <img src="{% static '/img/pnpki-logo-hr.png' %}" style="height:45px;"></img>
                    </td>
                </tr>
                <tr>
                    <td class="b c" colspan="3" style="border:1px solid #000; background-color: #8d8c8c; height:22px; ">
                        APPLICATION FOR DIGITAL CERTIFICATE   
                    </td>
                </tr>
                <tr>
                    <td class="c" colspan="3" style="font-size:10px; border:1px solid #000; background-color: #FFF; height:22px; ">
                        <table>
                            <tr>
                                <td style="width:350px;">Application ID Number (For Official Use only)</td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:20px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:3px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:20px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:3px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:20px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:3px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:20px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:3px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:20px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:3px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:20px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:3px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:20px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:3px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:20px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:3px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:20px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:3px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:20px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:3px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:20px;"></td>
                                <td style="border-left:1px solid #000; background-color: #FFF; height:22px; width:3px;"></td>
                                <td style="border-left:1px solid #000; border-right:1px solid #000; background-color: #FFF; height:22px; width:20px;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="border:1px solid #000; background-color: #fff; height:4.5cm; padding-left:20px; padding-right:20px; padding-top:5px; padding-bottom:5px;">
                        <table width="100%">
                            <tr>
                                <td style="padding-left:20px;">
                                    <table width="100%">
                                        <tr><td colspan="3" class="b l"  style="padding:5px;">Instructions:</td></tr>
                                        <tr><td width="20"></td><td width="20">1.</td><td style="padding:2px;">Please fill the form in BLOCK LETTERS ONLY.</td></tr>
                                        <tr><td width="20"></td><td width="20">2.</td><td style="padding:2px;">Required fields are marked with an asterisk (*).</td></tr>
                                        <tr><td width="20"></td><td width="20">3.</td><td style="padding:2px;">Present one (1) copy and the original documents to our Registration<br>Authority for verification and attestation.</td></tr>
                                        <tr><td width="20"></td><td width="20">4.</td><td style="padding:2px;">Any information that is not verified shall not be included in certificates.</td></tr>
                                        <tr><td width="20"></td><td width="20">5.</td><td style="padding:2px;">Any discrepancy or inconsistency in the form will lead to delay and/or<br>rejection.</td></tr>
                                    </table>

                                </td>
                                <td style="border:1px solid #000; width:3.5cm; height:4.5cm; vertical-align: middle;">
                                    <img src="{{ form.instance.PassportPhoto.url }}" style="width:3.5cm; height:4.5cm; border: solid 2px #FFF;"></img>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="b c" style="border:1px solid #000; background-color: #8d8c8c; height:22px; width:200px;">
                        1. CERTIFICATE CLASS   
                    </td>
                    <td class="b c" style="border:1px solid #000; background-color: #8d8c8c; height:22px; width:200px;">
                        2. CERTIFICATE TYPE  
                    </td>
                    <td class="b c" style="border:1px solid #000; background-color: #8d8c8c; height:22px; width:200px;">
                        3. METHOD OF ACTIVATION
                    </td>
                </tr>
                <tr>
                    <td class="l" style="border:1px solid #000; height:22px; width:200px; padding-left:15px;">
                        1A Individual   
                    </td>
                    <td class="l" style="border:1px solid #000; height:22px; width:200px; padding-left:15px;">
                        2A <b style="font-size:14px;">&#x2611;</b> Signing&nbsp;&nbsp;&nbsp;
                        2B <b style="font-size:14px;">&#x2611;</b> Authentication
                    </td>
                    <td class="l" style="border:1px solid #000; height:22px; width:200px; padding-left:15px;">
                        3A <b style="font-size:14px;">&#x2610;</b> USB Token&nbsp;&nbsp;&nbsp;
                        3B <b style="font-size:14px;">&#x2610;</b> Online Download
                    </td>
                </tr>
                <tr>
                    <td class="b c" colspan="3" style="border:1px solid #000; background-color: #8d8c8c; height:22px; ">
                        4. APPLICANT’S DETAILS   
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="border:1px solid #000; height:22px; width:200px; padding-left:15px;">
                        <table>
                            <tr style="font-size:10px;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:170px; padding-left:15px;">
                                    4A* Last Name   
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:170px; padding-left:15px;">
                                    4B* First Name
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:170px; padding-left:15px;">
                                    4C* Middle Name
                                </td>
                                <td class="l" style="border:0px solid #000; height:22px; width:170px; padding-left:15px;">
                                    4D* Name Extension (JR/SR/III)
                                </td>
                            </tr>
                            <tr style="font-size:12px; border-top:1px solid #000;">
                                <td class="b c" style="border-right:1px solid #000; height:22px; width:170px;">
                                    {{ form.instance.LastName|upper }}
                                </td>
                                <td class="b c" style="border-right:1px solid #000; height:22px; width:170px;">
                                    {{ form.instance.FirstName|upper }}
                                </td>
                                <td class="b c" style="border-right:1px solid #000; height:22px; width:170px;">
                                    {{ form.instance.MiddleName|upper }}
                                </td>
                                <td class="b c" style="border:0px solid #000; height:22px; width:170px;">
                                    {{ form.instance.ExtensionName|upper }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="border:1px solid #000; height:22px; width:200px; padding-left:15px;">
                        <table>
                            <tr style="font-size:10px; border-top:1px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:100px; padding-left:15px;">
                                    4E* Gender  
                                </td>
                                <td class="c" style="font-size:12px; border-right:1px solid #000; height:22px; width:170px;">
                                    <b style="font-size:14px;">{% if form.instance.GenderID == 1 %}&#x2611;{% else %}&#x2610;{% endif %}</b> Male 
                                    <b style="font-size:14px;">{% if form.instance.GenderID == 2 %}&#x2611;{% else %}&#x2610;{% endif %}</b> Female
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:100px; padding-left:15px;">
                                    4F* Nationality
                                </td>
                                <td class="b c" style="font-size:12px; border-right:1px solid #000; height:22px; width:170px;">
                                    {{ address.CountryName|upper }}
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:190px; padding-left:15px;">
                                    4G* Date of Birth (DD/MM/YYYY)
                                </td>
                                <td class="b c" style="font-size:12px; border:0px solid #000; height:22px; width:100px;">
                                    {{ form.instance.BirthDate|date:"d/m/Y"|upper }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="border:1px solid #000; height:22px; width:200px; padding-left:15px;">
                        <table>
                            <tr style="font-size:10px; border-top:1px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:152px; padding-left:15px;">
                                    4H* TIN  
                                </td>
                                <td class="b c" style="font-size:12px; border-right:1px solid #000; height:22px; width:200px;">
                                    {{ form.instance.TaxIDNumber }}
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:152px; padding-left:15px;">
                                    4I SSS No
                                </td>
                                <td class="b c" style="border:0px solid #000; height:22px; width:200px;">
                                    
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="border:1px solid #000; height:22px; width:200px; padding-left:15px;">
                        <table>
                            <tr style="font-size:10px; border-top:1px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:100px; padding-left:15px;">
                                    4J GSIS No.  
                                </td>
                                <td class="c" style="border-right:1px solid #000; height:22px; width:170px;">
                                    
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:100px; padding-left:15px;">
                                    4K Philhealth No.
                                </td>
                                <td class="b c" style="font-size:12px; border-right:1px solid #000; height:22px; width:170px;">
                                    
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:100px; padding-left:15px;">
                                    4L Pag-ibig No.
                                </td>
                                <td class="b c" style="font-size:12px; border:0px solid #000; height:22px; width:170px;">
                                    
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="border:1px solid #000; height:22px; width:200px; padding-left:15px;">
                        <table>
                            <tr style="font-size:10px; border-top:1px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:87px; padding-left:15px;">
                                    4M CRN No  
                                </td>
                                <td class="c" style="border-right:1px solid #000; height:22px; width:170px;">
                                    
                                </td>
                                <td class="l" style="border-right:0px solid #000; height:22px; width:450px; padding-left:15px; vertical-align:top;">
                                    4N Other IDs presented during face to face verification
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="border:1px solid #000; height:22px; width:200px; padding-left:15px;">
                        <table>
                            <tr style="font-size:10px; border-top:1px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:257px; padding-left:15px;">
                                    4O* Organization / Agency / Company  
                                </td>
                                <td class="b c" style="font-size:12px; border-right:0px solid #000; height:22px; width:464px;">
                                    {{ form.instance.OrgAgencyCompany|upper }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="3" class="border:1px solid #000; height:22px; width:200px; padding-left:15px;">
                        <table>
                            <tr style="font-size:10px; border-top:1px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:257px; padding-left:15px;">
                                    4P* Organizational Unit / Department / Division
                                </td>
                                <td class="b c" style="font-size:12px; border-right:0px solid #000; height:22px; width:464px;">
                                    {{ form.instance.OrgUnitDeptDiv|upper }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="3" class="border:1px solid #000; height:22px; width:200px; padding-left:15px;">
                        <table>
                            <tr style="font-size:10px; border-top:1px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:130px; padding-left:15px;">
                                    4Q Marital Status
                                </td>
                                <td class="l" style="font-size:12px; border-right:0px solid #000; height:22px; width:570px; padding-left:15px;">
                                    <b style="font-size:14px;">&#x2610;</b>&nbsp;Single&nbsp;&nbsp;
                                    <b style="font-size:14px;">&#x2610;</b>&nbsp;Married&nbsp;&nbsp; 
                                    <b style="font-size:14px;">&#x2610;</b>&nbsp;Widow&nbsp;&nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="border:1px solid #000; height:22px; width:200px; padding-left:15px;">
                        <table>
                            <tr style="font-size:10px; border-top:1px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:130px; padding-left:15px;">
                                    4R Employment Status
                                </td>
                                <td class="l" style="font-size:12px; border-right:0px solid #000; height:22px; width:570px; padding-left:15px;">
                                    <b style="font-size:14px;">&#x2610;</b>&nbsp;Working&nbsp;&nbsp;
                                    <b style="font-size:14px;">&#x2610;</b>&nbsp;Student&nbsp;&nbsp; 
                                    <b style="font-size:14px;">&#x2610;</b>&nbsp;Self-employed&nbsp;&nbsp;
                                    <b style="font-size:14px;">&#x2610;</b>&nbsp;Unemployed&nbsp;&nbsp;
                                    <b style="font-size:14px;">&#x2610;</b>&nbsp;Senior&nbsp;&nbsp;
                                    <b style="font-size:14px;">&#x2610;</b>&nbsp;Citizen&nbsp;&nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td colspan="3" class="border:1px solid #000; height:22px; width:200px; padding-left:15px;">
                        <table>
                            <tr style="font-size:10px; border-top:1px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:130px; padding-left:15px;">
                                    
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:110px; padding-left:15px;">
                                    Last Name
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:110px; padding-left:15px;">
                                    First Name
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:110px; padding-left:15px;">
                                    Middle Name
                                </td>
                                <td class="c" style="border-right:1px solid #000; height:22px; width:50px; padding:3px;">
                                    Name&nbsp;Extension (JR/SR/III)
                                </td>
                                <td class="c" style="border-right:1px solid #000; height:22px; width:50px; padding:3px;">
                                    Birthdate (DD/MM/YYYY)
                                </td>
                                <td class="c" style="border-right:0px solid #000; height:22px; width:53px; padding:3px;">
                                    Living / Deceased
                                </td>
                            </tr>
                            <tr style="font-size:10px; border-top:1px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:130px; padding-left:15px;">
                                    4S Spouse Name
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:110px; padding-left:15px;">
                                    
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:110px; padding-left:15px;">
                                    
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:110px; padding-left:15px;">
                                    
                                </td>
                                <td class="c" style="border-right:1px solid #000; height:22px; width:50px; padding:3px;">
                                    
                                </td>
                                <td class="c" style="border-right:1px solid #000; height:22px; width:50px; padding:3px;">
                                   
                                </td>
                                <td class="c" style="border-right:0px solid #000; height:22px; width:53px; padding:3px;">
                                    
                                </td>
                            </tr>
                            <tr style="font-size:10px; border-top:1px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:130px; padding-left:15px;">
                                    4T Mother’s Maiden Name
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:110px; padding-left:15px;">
                                    
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:110px; padding-left:15px;">
                                    
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:110px; padding-left:15px;">
                                    
                                </td>
                                <td class="c" style="border-right:1px solid #000; height:22px; width:50px; padding:3px;">
                                    
                                </td>
                                <td class="c" style="border-right:1px solid #000; height:22px; width:50px; padding:3px;">
                                   
                                </td>
                                <td class="c" style="border-right:0px solid #000; height:22px; width:53px; padding:3px;">
                                    
                                </td>
                            </tr>
                            <tr style="font-size:10px; border-top:1px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:130px; padding-left:15px;">
                                    4U Father’s Name
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:110px; padding-left:15px;">
                                    
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:110px; padding-left:15px;">
                                    
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:110px; padding-left:15px;">
                                    
                                </td>
                                <td class="c" style="border-right:1px solid #000; height:22px; width:50px; padding:3px;">
                                    
                                </td>
                                <td class="c" style="border-right:1px solid #000; height:22px; width:50px; padding:3px;">
                                   
                                </td>
                                <td class="c" style="border-right:0px solid #000; height:22px; width:53px; padding:3px;">
                                    
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="b c" colspan="3" style="border:1px solid #000; background-color: #8d8c8c; height:22px; ">
                        5. CONTACT DETAILS  
                    </td>
                </tr>
                <tr>
                    <td class="b c" colspan="3" style="border:1px solid #000; background-color: #fff; height:22px; ">
                        Residential Address
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="border:0px solid #000; height:22px; width:200px; padding-left:15px;">
                        <table>
                            <tr style="font-size:10px; border-top:0px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:130px; padding-left:15px;">
                                    5A* Unit/Room/House No. 
                                </td>
                                <td class="b c" style="font-size:12px; border-right:1px solid #000; height:22px; width:250px;">
                                    {{ form.instance.HouseUnitNumber|upper }}
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:60px; padding-left:15px;">
                                    5B* Street
                                </td>
                                <td class="b c" style="font-size:12px; border:0px solid #000; height:22px; width:263px;">
                                    {{ form.instance.Street|upper }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="border:1px solid #000; height:22px; width:200px; padding-left:15px;">
                        <table>
                            <tr style="font-size:10px; border-top:1px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:130px; padding-left:15px;">
                                    5C* Barangay 
                                </td>
                                <td class="b c" style="font-size:12px; border-right:1px solid #000; height:22px; width:250px;">
                                    {{ address.BrgyName|upper }}
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:100px; padding-left:15px;">
                                    5D* Municipality/City
                                </td>
                                <td class="b c" style="font-size:12px; border:0px solid #000; height:22px; width:223px;">
                                    {{ address.CityMunname }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="border:1px solid #000; height:22px; width:200px; padding-left:15px;">
                        <table>
                            <tr style="font-size:10px; border-top:1px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:130px; padding-left:15px;">
                                    5E* Province
                                </td>
                                <td class="b c" style="font-size:12px; border-right:1px solid #000; height:22px; width:250px;">
                                    {{ address.ProvName }}
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:100px; padding-left:15px;">
                                    5F* Zip Code
                                </td>
                                <td class="b c" style="font-size:12px; border:0px solid #000; height:22px; width:223px;">
                                    {{ form.instance.ZipCode }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="border:1px solid #000; height:22px; width:200px; padding-left:15px;">
                        <table>
                            <tr style="font-size:10px; border-top:1px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:130px; padding-left:15px;">
                                    5G Landline No
                                </td>
                                <td class="b c" style="font-size:12px; border-right:1px solid #000; height:22px; width:250px;">
                                   
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:100px; padding-left:15px;">
                                    5H* Mobile No.
                                </td>
                                <td class="b c" style="font-size:12px; border:0px solid #000; height:22px; width:223px;">
                                    {{ form.instance.MobileNumber }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="border:1px solid #000; height:22px; width:200px; padding-left:15px;">
                        <table>
                            <tr style="font-size:10px; border-top:1px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:130px; padding-left:15px;">
                                    5I* Email Address
                                </td>
                                <td class="b c" style="font-size:12px; border-right:1px solid #000; height:22px; width:250px;">
                                   {{ form.instance.EmailAddress }}
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:123px; padding-left:15px;">
                                    5J Alternate Email Address
                                </td>
                                <td class="b c" style="font-size:12px; border:0px solid #000; height:22px; width:200px;">
                                    
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="b c" colspan="3" style="border:1px solid #000; background-color: #fff; height:22px; ">
                        Office Address   
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="border:0px solid #000; height:22px; width:200px; padding-left:15px;">
                        <table>
                            <tr style="font-size:10px; border-top:0px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:130px; padding-left:15px;">
                                    5K Unit/Room/Floor No.
                                </td>
                                <td class="b c" style="font-size:12px; border-right:1px solid #000; height:22px; width:250px;">
                                    
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:80px; padding-left:15px;">
                                    5L Building
                                </td>
                                <td class="b c" style="font-size:12px; border:0px solid #000; height:22px; width:243px;">
                                    
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="border:1px solid #000; height:22px; width:200px; padding-left:15px;">
                        <table>
                            <tr style="font-size:10px; border-top:1px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:130px; padding-left:15px;">
                                   5M Street
                                </td>
                                <td class="b c" style="font-size:12px; border-right:1px solid #000; height:22px; width:250px;">

                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:80px; padding-left:15px;">
                                    5N Barangay
                                </td>
                                <td class="b c" style="font-size:12px; border:0px solid #000; height:22px; width:243px;">
                                    
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="border:1px solid #000; height:22px; width:200px; padding-left:15px;">
                        <table>
                            <tr style="font-size:10px; border-top:1px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:130px; padding-left:15px;">
                                    5O Municipality/City
                                </td>
                                <td class="b c" style="font-size:12px; border-right:1px solid #000; height:22px; width:250px;">
                                    
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:80px; padding-left:15px;">
                                    5P Province
                                </td>
                                <td class="b c" style="font-size:12px; border:0px solid #000; height:22px; width:243px;">
                                    
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="border:1px solid #000; height:22px; width:200px; padding-left:15px;">
                        <table>
                            <tr style="font-size:10px; border-top:1px solid #000;">
                                <td class="l" style="border-right:1px solid #000; height:22px; width:130px; padding-left:15px;">
                                    5Q Zip Code 
                                </td>
                                <td class="b c" style="font-size:12px; border-right:1px solid #000; height:22px; width:250px;">
                                   
                                </td>
                                <td class="l" style="border-right:1px solid #000; height:22px; width:80px; padding-left:15px;">
                                    5R Landline No
                                </td>
                                <td class="b c" style="font-size:12px; border:0px solid #000; height:22px; width:243px;">
                                    
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="border:0px solid #000; width:200px; padding-left:15px;">
                        <table width="100%">
                            <tr style="font-size:10px; border-top:1px solid #000;">
                                <td class="c" style="height:19px;">
                                    PNPKI RA Form 2018-01A
                                </td>
                            </tr>
                            <tr style="font-size:10px; border-bottom:1px solid #000;">
                                <td class="c" style="height:19px;">
                                    DateRevised February 2020
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>        
        </td>
    </tr>
</table>
    </article>
    <table style="width:100%;">
        <tr style="height:75.591px;">
            <td style="width:100px;" align="left">
                <!--img src="" style="width:180px; padding-right:10px; padding-bottom:5px;"></img-->
            </td>
            <td align="center" style="vertical-align: bottom; padding: 3px; color: #03426f;">
                <table style="width:100%; font-size: 11px;"> 
                    <tr><td class="c">DICT Building, C.P. Garcia Avenue, Diliman, Quezon City, 1101, Philippines</td></tr>
                    <tr><td class="c">Tel: +63 (02) 920-0101   |   <a href="http://www.dict.gov.ph">www.dict.gov.ph</a></td></tr>
                </table>
            </td>
            <td style="width:100px;" align="right">
                <img src="{% static '/img/dict-pnpki-qr.png' %}" style="width:75.591px;"></img>
            </td>
        </tr>
	</table>
	<table style="width:100%;">
	    <!--tr class="paddingttdr" style="height:22px; font-family:Trebuchet MS;">
		        <td style="padding:2px;" class="i r" colspan="3">Page 04 of 04<span class="TotalPage"></span>&nbsp;&nbsp;</td>
		</tr-->
	    <tr>
	        <td style="font-size:5px; font-family:Verdana; height:2px; text-align:left; width:30%;">&nbsp;&nbsp;jasbarranda</td>
            <td style="font-size:5px; font-family:Verdana; height:2px; text-align:center; width:40%;">system generated report from mis.dotr.gov.ph</td>
	        <td style="font-size:5px; font-family:Verdana; height:2px; text-align:right; width:30%;">Copyright &copy; JASB&nbsp;&nbsp;</td>
        </tr>
    </table>
</section>