    {% load static %}
<section class="sheet padding-10mm" style="padding:25px;">
    <article style="border:1px solid #FFF; border-collapse:collapse; height:262mm; padding:0px;">
<table width="100%" style="border:1px solid #fff; border-collapse:collapse;">
    <tr>
        <td style="vertical-align: top;">
            <table width="100%" style="border:1px solid #000; border-collapse:collapse;">
                <tr>
                    <td class="b c" colspan="3" style="border:1px solid #000; background-color: #8d8c8c; height:23px; ">
                        
                    </td>
                </tr>
                <tr>
                    <td class="b l" colspan="3" style="font-size:10px; border:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        4.0 Subscriber Obligations
                    </td>
                </tr>
                <tr>
                    <td class="l" colspan="3" style="font-size:10px; border:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        This Agreement governs the subscriber’s application for, acceptance, and use of, a digital certificate issued by the RA
                        <p style="padding-left:15px; line-height: 2;">
                            a) The provisions of the Root CA CP/CPS, GovCA CP/CPS, and other pertinent documents are binding upon the subscriber.<br>
                            b) All the information provided in the digital certificate application form is true and correct.<br>
                            c) The use of the digital certificate shall be for the sole use of the subscriber.<br>
                            d) The subscriber will not, under any circumstances, allow any other person to use the digital certificate. Any such use by another person constitutes a compromise of the associated private key, requiring the revocation of the digital certificate.<br>
                            e) The subscriber shall protect the confidentiality of the private key associated with his or her digital certificate as well as any PIN number or other means used to activate the private key.<br>
                            f) The subscriber shall remain solely responsible for the maintenance of the confidentiality of the certificate.<br>
                            g) The subscriber shall not use the digital certificate for any unlawful purpose, or for any purpose that does not have anything to do with accessing the PKI information systems or transactions using the digital certificates.<br>
                            h) The subscriber shall promptly request the RA to revoke the digital certificate upon knowing or suspecting inaccurate information, loss, exposure or compromise of the associated private key.<br>
                            i) The subscriber shall not tamper, interfere with, or reverse-engineer any technical implementation of the digital certificate or its use, or in any manner seek to compromise the security provided by the RA and the National PKI system.<br>
                            j) The subscriber accepts the risk of an undetected compromised digital certificate or associated private key, which may be used to impersonate the said subscriber
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="b l" colspan="3" style="font-size:10px; border:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        4.0 Subscriber Obligations
                    </td>
                </tr>
                <tr>
                    <td class="b l" colspan="3" style="font-size:10px; border:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                       5.0 Permission to Publish Information
                    </td>
                </tr>
                <tr>
                    <td class="l" colspan="3" style="font-size:10px; border:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        The Subscriber agrees that PNPKI may publish the serial number of the Subscriber’s Digital Certificate in connection with
PNPKI’s dissemination of CRL’s and OCSP.
                    </td>
                </tr>
                <tr>
                    <td class="b l" colspan="3" style="font-size:10px; border:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        6.0 Disclaimer
                    </td>
                </tr>
                <tr>
                    <td class="l" colspan="3" style="font-size:10px; border:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        PNPKI shall not be liable for any claims arising from prohibited use of Digital Certificates issued by GovCA. PNPKI will not
be liable if the user has not respected his obligations mentioned in the CPS and in this agreement.
                    </td>
                </tr>
                <tr>
                    <td class="b l" colspan="3" style="font-size:10px; border:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        7.0 Term and Termination
                    </td>
                </tr>
                <tr>
                    <td class="l" colspan="3" style="font-size:10px; border:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        This agreement shall terminate Upon
                        <p style="padding-left:15px; line-height: 2;">
                            a) The expiry date of any Digital Certificate issued to the Subscriber<br>
                            b) Any failure to comply with any of the subscriber obligations mentioned in this Subscriber Agreement                            
                        </p>

                    </td>
                </tr>
                <tr>
                    <td class="b l" colspan="3" style="font-size:10px; border:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        8.0 Effect of termination
                    </td>
                </tr>
                <tr>
                    <td class="l" colspan="3" style="font-size:10px; border:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        Upon termination of this Subscriber Agreement for any reason, PNPKI may revoke the Subscriber’s Digital Certificate in
accordance with PNPKI revocation procedures.
                    </td>
                </tr>
                <tr>
                    <td class="b l" colspan="3" style="font-size:10px; border:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        9.0 CP and CPS Information
                    </td>
                </tr>
                <tr>
                    <td class="l" colspan="3" style="font-size:10px; border:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        The digital certificate contains information provided by the subscriber, which is authenticated by the RA in accordance
                        with the requirements set out in the CA CP and CPS, available for viewing and download at dict.gov.ph/pnpki/.<br><br>
                    </td>
                </tr>
                <tr>
                    <td class="l" colspan="3" style="font-size:10px; border-bottom:2px solid #000; background-color: #fff; height:200px; padding:4px;">
                        <table align="center">
                            <tr>
                                <td style="width:600px; padding:20px;">
                                    <div style="position: relative;">
                                        <table width="100%" style="position: relative; z-index:2;">
                                            <tr style="height:22px;">
                                                <td style="width:40px; vertical-align: bottom;">Date:</td>
                                                <td style="border-bottom:1px solid #000; width:100px; vertical-align: bottom;" class="b c"> {{ form.instance.TransDate|date:'Y-m-d'}} </td>
                                                <td style="width:40px; vertical-align: bottom; padding-left:10px">Place:</td>
                                                <td style="border-bottom:1px solid #000; width:100px;"></td>
                                                <td style="width:100px; vertical-align: bottom; padding-left:10px">Name of Applicant:</td>
                                                <td style="border-bottom:1px solid #000; width:150px; vertical-align: bottom;" class="b c">
                                                    {{ form.instance.FirstName|upper }} {{ form.instance.MiddleName|upper }} {{ form.instance.LastName|upper }} {{ form.instance.ExtensionName|upper }}
                                                </td>
                                            </tr>
                                            <tr style="height:22px;">
                                                <td style=" vertical-align: bottom;"></td>
                                                <td style="border-bottom:1px solid #fff; width:100px;"></td>
                                                <td style="vertical-align: bottom;"></td>
                                                <td style="border-bottom:0px solid #fff; width:100px;"></td>
                                            </tr>
                                            <tr style="height:22px;">
                                                <td style="vertical-align: bottom;"></td>
                                                <td style="border-bottom:1px solid #fff; width:100px;"></td>
                                                <td style="vertical-align: bottom;"></td>
                                                <td style="border-bottom:1px solid #fff; width:100px;"></td>
                                                <td style="vertical-align: bottom; padding-left:10px">Signature:</td>
                                                <td style="border-bottom: 1px solid #000; width: 200px; vertical-align: top;"></td>
                                            </tr>
                                        </table>
                                        <div style="position: absolute; bottom: -23px; right: 40px;">
                                            <img src="{{ form.instance.SignatureImage.url }}" style="width: 150px; max-height: 100px;">
                                        </div>
                                    </div>
                                </td>
                            </tr>        
                        </table>
                    </td>
                </tr>
            </table>        
        </td>
    </tr>
</table>
    </article>
    <table style="width:100%;">
        <tr style="height:75.591px;">
            <td style="width:100px;" align="left">
                <!--img src="" style="width:180px; padding-right:10px; padding-bottom:5px;"></img-->
            </td>
            <td align="center" style="vertical-align: bottom; padding: 3px; color: #03426f;">
                <table style="width:100%; font-size: 11px;"> 
                    <tr><td class="c">DICT Building, C.P. Garcia Avenue, Diliman, Quezon City, 1101, Philippines</td></tr>
                    <tr><td class="c">Tel: +63 (02) 920-0101   |   <a href="http://www.dict.gov.ph">www.dict.gov.ph</a></td></tr>
                </table>
            </td>
            <td style="width:100px;" align="right">
                <img src="{% static '/img/dict-pnpki-qr.png' %}" style="width:75.591px;"></img>
            </td>
        </tr>
	</table>
	<table style="width:100%;">
	    <!--tr class="paddingttdr" style="height:23px; font-family:Trebuchet MS;">
		        <td style="padding:2px;" class="i r" colspan="3">Page 04 of 04<span class="TotalPage"></span>&nbsp;&nbsp;</td>
		</tr-->
	    <tr>
	        <td style="font-size:5px; font-family:Verdana; height:2px; text-align:left; width:30%;">&nbsp;&nbsp;jasbarranda</td>
            <td style="font-size:5px; font-family:Verdana; height:2px; text-align:center; width:40%;">system generated report from mis.dotr.gov.ph</td>
	        <td style="font-size:5px; font-family:Verdana; height:2px; text-align:right; width:30%;">Copyright &copy; JASB&nbsp;&nbsp;</td>
        </tr>
    </table>
</section>