    {% load static %}
<section class="sheet padding-10mm" style="padding:25px;">
    <article style="border:0px solid #FFF; border-collapse:collapse; height:262mm; padding:0px;">
<table width="100%" style="border:0px solid #fff; border-collapse:collapse;">
    <tr>
        <td style="vertical-align: top;">
            <table width="100%" style="border-top:1px solid #000; border-left:1px solid #000; border-right:1px solid #000; border-collapse:collapse;">
                <tr>
                    <td class="b c" colspan="3" style="border:1px solid #000; background-color: #8d8c8c; height:23px; ">
                        SUBSCRIBER AGREEMENT 
                    </td>
                </tr>
                <tr>
                    <td class="l" colspan="3" style="font-size:10px; border:0px solid #000; background-color: #fff; height:23px; padding:5px; padding-left:15px;">
                        PLEASE READ THIS AGREEMENT CAREFULLY BEFORE USING THE DIGITAL CERTIFICATE ISSUED TO YOU OR
YOUR ORGANIZATION. BY APPLYING FOR A DIGITAL CERTIFICATE, YOU ARE AGREEING TO BE BOUND BY THE
TERMS OF THIS AGREEMENT. IF YOU HAVE PROBLEMS UNDERSTANDING THIS AGREEMENT, E-MAIL US AT
support.pnpki@dict.gov.ph
                    </td>
                </tr>
                <tr>
                    <td class="b l" colspan="3" style="font-size:10px; border:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        1.0 Definitions
                    </td>
                </tr>
                <tr>
                    <td class="l" colspan="3" style="font-size:10px; border:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        <b>Applicant:</b>The individual that applies for (or seeks renewal of) a Digital Certificate naming it as the “ Subject”.
                        <p style="line-height: 2;">
                        Certification Practice Statement (CPS) - A statement of the practices that a certification authority employs in issuing,
                        managing, revoking, and renewing or re-keying certificates.
                        </p>
                        <p style="line-height: 2;">
                        Certificate Policy (CP) - A named set of rules that indicate s the applicability of a certificate to a particular community
                        and/or class of application with common security requirements. For example, a particular CP might indicate applicability of
                        a type of certificate to the authentication of parties engaging in business-to-business transactions for the trading ofgoods
                        or services within a given price range.
                        </p>
                        <p style="line-height: 2;"></p>
                        <b>Certificate Revocation List ("CRL")</b> - A collection of electronic data containing the list of serial numbers revoked or
                        suspended by the Certificate Authority
                        </p>
                        <p style="line-height: 2;">
                        <b>Online Certificate Status Protocol ("OCSP")</b> - An Internet Protocol (IP) used to obtain the real time revocation status of
                        a digital certificate. It is used as an online faster alternative to CRL list.
                        </p>
                        <p style="line-height: 2;">
                        <b>Public Key</b> - A mathematical key which is available publicly and which is used to verify Digital Signatures created with the
                        matched Private Key and to encrypt electronic data which can only be decrypted using the matched Private Key
                        </p>
                        <p style="line-height: 2;">
                        <b>Private Key</b> - A mathematical key which is kept private to the owner and which is used to create Digital Signatures or to
                        decrypt electronic data
                        </p>
                        <p style="line-height: 2;">
                        <b>Registration Authority (RA)</b> - An entity that is responsible for one or more of the following functions: the identification and
                        authentication of certificate applicants, the approval or rejection of certificate applications, initiating certificate revocations
                        or suspensions under certain circumstances, processing subscriber requests to revoke or suspend their certificates, and
                        approving or rejecting requests by subscribers to renew or re-key their certificates. RAs, however, do not sign or issue
                        certificates (i.e., an RA is delegated certain tasks on behalf of a CA).
                        </p>
                        <p style="line-height: 2;">
                        <b>Subscriber</b> - A subject of a certificate who is issued a certificate.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="b l" colspan="3" style="font-size:10px; border:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        2.0 Authority to Use Digital Certificates
                    </td>
                </tr>
                <tr>
                    <td class="l" colspan="3" style="font-size:10px; border:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        <p style="line-height: 2;">
                        <b>2.1 Grant of Authority</b> As from the Effective Date up to the validity period of any issued Digital Certificate ("Valid from"
                        date to "Valid to" date ) , PNPKI grants to the Subscriber the authority to use the requested Digital Certificate in conjunction
                        with Private Key and/or Public Key operations. The obligations of the subscriber (see section 4.0) with respect to Private
                        Key protection are applicable from the effective date.
                        </p>
                        <p style="line-height: 2;">
                        <b>2.2 Limitations on Authority</b> The digital certificate cannot be used for purposes other than what is allowed in this Subscriber Agreement and the CPS.
                    </td>
                </tr>
                <tr>
                    <td class="b l" colspan="3" style="font-size:10px; border-bottom:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        3.0 Use of PNPKI Digital Certificate
                    </td>
                </tr>
                <tr>
                    <td class="l" colspan="3" style="font-size:10px; border:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        The subscriber shall use the certificate for its lawful and intended use only. The certificate shall be used in accordance
                        with its Key-Usage field extensions. All issued certificate by PNPKI cannot be used for purposes other than what is allowed
                        in this subscriber agreement and by the CPS. PNPKI shall not be liable for any claims arising from prohibited use.
                    </td>
                </tr>
                <tr>
                    <td class="b l" colspan="3" style="font-size:10px; border-bottom:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        3.1 Acceptance of a Digital Certificate
                    </td>
                </tr>
                <tr>
                    <td class="l" colspan="3" style="font-size:10px; border:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        The following conduct constitutes certificate acceptance:
                        <p style="line-height: 2; padding-left: 15px;">
                        a) A certificate shall be deemed accepted when it is in the subscriber or representative’s control;<br>
                        b) Failure of the subscriber to object to the certificate or its content within five (5) calendar days; or<br>
                        c) The subscriber uses the certificate.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="b l" colspan="3" style="font-size:10px; border-bottom:0px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        3.2 Revocation of Digital Certificates
                    </td>
                </tr>
                <tr>
                    <td class="l" colspan="3" style="font-size:10px; border-bottom:1px solid #000; background-color: #fff; height:23px; padding-left:15px;">
                        A certificate shall be revoked when the bind between the subject and the subject’s public key is no longer valid. An
                        end-user subscriber certificate can be requested for revocation under any of the following conditions:
                        <p style="line-height: 2; padding-left: 15px;">
                        a) When a verified request for revocation is received by PNPKI CA or RA;<br>
                        b) When any of the information found in the certificate is changed or no longer applicable;<br>
                        c) When the Private Key, or the media holding the Private Key, associated with the certificate is compromised;<br>
                        d) When the PNPKI CA determines that the end-user entity is no longer complying with the requirements of by the
                        CPS and this subscriber agreement ; or<br>
                        e) When the PNPKI CA has the reason to believe that the certificate was issued in a manner that is not in accordance<br>
                        with the procedures required by the CPS and this subscriber agreement.
                        f) When subscriber requested revocation of the Certificate;
                        </p>
                    </td>
                </tr>
            </table>        
        </td>
    </tr>
</table>
    </article>
    <table style="width:100%;">
        <tr style="height:75.591px;">
            <td style="width:100px;" align="left">
                <!--img src="" style="width:180px; padding-right:10px; padding-bottom:5px;"></img-->
            </td>
            <td align="center" style="vertical-align: bottom; padding: 3px; color: #03426f;">
                <table style="width:100%; font-size: 11px;"> 
                    <tr><td class="c">DICT Building, C.P. Garcia Avenue, Diliman, Quezon City, 1101, Philippines</td></tr>
                    <tr><td class="c">Tel: +63 (02) 920-0101   |   <a href="http://www.dict.gov.ph">www.dict.gov.ph</a></td></tr>
                </table>
            </td>
            <td style="width:100px;" align="right">
                <img src="{% static '/img/dict-pnpki-qr.png' %}" style="width:75.591px;"></img>
            </td>
        </tr>
	</table>
	<table style="width:100%;">
	    <!--tr class="paddingttdr" style="height:23px; font-family:Trebuchet MS;">
		        <td style="padding:2px;" class="i r" colspan="3">Page 04 of 04<span class="TotalPage"></span>&nbsp;&nbsp;</td>
		</tr-->
	    <tr>
	        <td style="font-size:5px; font-family:Verdana; height:2px; text-align:left; width:30%;">&nbsp;&nbsp;jasbarranda</td>
            <td style="font-size:5px; font-family:Verdana; height:2px; text-align:center; width:40%;">system generated report from mis.dotr.gov.ph</td>
	        <td style="font-size:5px; font-family:Verdana; height:2px; text-align:right; width:30%;">Copyright &copy; JASB&nbsp;&nbsp;</td>
        </tr>
    </table>
</section>                